* {
  font-family: "Noto Sans KR", sans-serif !important;
}

/* 너비, 높이 값 동적으로 계산 */
:root {
  --vh: 100%;
  --vw: 100%;
}

/* loading */
.dovi-loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100)
}

.dovi-loading {
  width: calc(var(--vw, 1vw) * 100);
}

/* SearchBar */
.search-bar-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  top: 20px;
  height: 40px;
  z-index: 100;
}
.search-input {
  width: 220px;
  border: 1.3px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 45px;
  outline: none;
  font-size: 16px;
  padding-top: 2px;
  color: #5f5f5f;
  font-weight: 400;
}
.search-input::placeholder {
  color: #bdbdbd;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.3px;
}
.search-bar-container button {
  border: none;
  background-color: white;
  width: 40px;
  padding: 0px;
  border-radius: 5px;
}
.search-bar-container button img {
  margin-top: 4px;
}
.menu-btn {
  background-color: #6cafff !important;
  margin-right: 5px;
  box-shadow: 1px 1px 4px #0000003d;
}
.menu-btn img {
  padding-left: 1px;
  width: 25px;
  height: 25px;
}
.back-btn {
  background-color: white !important;
  margin-right: 5px;
}
.back-btn img {
  padding-left: 1px;
  width: 25px;
  height: 25px;
}
.search-btn {
  position: absolute;
  top: 2px;
  height: 36px;
  left: 280px;
}



/* Main */
.cur-loc-btn {
  padding: 0px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0.7px 1px 4px rgba(0, 67, 122, 0.6);
  position: absolute;
  top: calc(var(--vh, 1vh) * 100 - 90px);
  right: 40px;
  z-index: 10;
}
.my-loc-img{
  position: absolute;
  width: 27px;
  height: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* SearchResult */
.white-nav-bar {
  width: 100%;
  height: 85px;
  position: fixed;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid rgb(153, 153, 153);
}

.loc-results {
  position: absolute;
  margin-top: 90px;
  text-align: center;
}
.poi-result-btn {
  width: calc(var(--vw, 1vw) * 100 - 30px);
  margin-top: 7px;
  border: none;
  border-bottom: 1.4px solid rgb(235, 235, 235);
  padding-left: 10px;
  padding-bottom: 7px;
  background-color: white;
}
.poi-result-btn p {
  letter-spacing: 0.4px;
}
.poi-result-btn-inner-div {
  display: flex;
  align-items: center;
}
.poi-name {
  font-size: 16px;
  text-align: start;
  font-weight: 500;
  color: rgb(24, 24, 24);
  margin-right: 5px !important;
  margin: 2px;
}
.poi-explanation {
  font-size: 11px;
  color: #a5a5a5;
  margin: 2px;
  font-weight: 200;
  /* width: calc(var(--vw, 1vw) * 10); */
}
.poi-addr {
  font-size: 13px;
  color: rgb(88, 88, 88);
  text-align: start;
  margin: 0px 0px 2px 0px;
  font-weight: 400;
}
.no-result {
  width: calc(var(--vw, 1vw) * 100);
  margin-top: 130px;
  color: rgb(190, 190, 190);
  font-size: 17px;
}
.no-result:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  width: 70%;
  border-bottom: 1.4px solid rgb(235, 235, 235);
}



/* WakingRouteResult */
.route-result-main-div {
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}
.cur-loc-div {
  position: relative;
}
.res-cur-loc-btn {
  padding: 0px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 67, 122, 0.6);
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.up-down-arrow-div {
  position: relative;
}
.up-down-arrow-div button {
  background-color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 2px 7px #c9c9c9;
  padding: 0px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
} 
.up-down-arrow-div button img {
  width: 40px;
  height: 40px;
}

@keyframes slide-fade-in {
  0% {
    top: calc(var(--vh, 1vh) * 100 - 40px);
  }

  100% {
    top: calc(var(--vh, 1vh) * 100 - 340px);
  }
}
.destination-info-div-appear {
  position: absolute;
  top: calc(var(--vh, 1vh) * 100 - 340px);
  width: calc(var(--vw, 1vw) * 100);
  height: 400px;
  background-color: white;
  border-radius: 40px;
  animation: slide-fade-in 1s ease;
  box-shadow: 0px 2px 8px rgb(150, 150, 150);
}
@keyframes slide-fade-out {
  0% {
    top: calc(var(--vh, 1vh) * 100 - 340px);
  }

  100% {
    top: calc(var(--vh, 1vh) * 100 - 40px);
  }
}
.destination-info-div-hide {
  position: absolute;
  top: calc(var(--vh, 1vh) * 100 - 40px);
  width: calc(var(--vw, 1vw) * 100);
  height: 400px;
  background-color: white;
  border-radius: 40px;
  animation: slide-fade-out 1s ease;
  box-shadow: 0px 2px 8px rgb(150, 150, 150);
}

.loading-destination-info {
  text-align: center;
  margin-top: 125px;
  /* transform: translate(-50%, -50%); */
}

.loading-destination-info img {
  width: 70px;
  height: 70px;
}

.destination-info-div {
  width: calc(var(--vw, 1vw) * 100);
  padding: 20px;
}

.info-header-div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.info-name {
  font-size: 18px;
  font-weight: 500;
}
.info-middle-name {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 300;
  color: gray
}

.info-addr-div div {
  height: 25px;
}
.info-addr-div div p {
  font-size: 14px;
  font-weight: 300;
}
.info-addr {
  margin-left: 5px;
}

.info-call-div {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.info-call-img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.info-tel-num {
  margin-left: 7px;
  color: #5f5f5f;
}

.info-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(var(--vw, 1vw) * 100 - 50px);
}

.info-footer p {
  font-size: 15px;
  font-weight: 400;
  color: #5f5f5f;
}

.depart-desti-btn-div button {
  border: none;
  border-radius: 15px;
  background-color:#6cafff;
  padding: 0px 10px;
  height: 30px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.depart-desti-btn-div button p {
  padding: 0px 0px 2px 1px;
  margin: 0px;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

/* PedestrianRoute */
#route-map-div {
  padding-top: calc(var(--vh, 1vh) * 8);
}

.pedestrian-route-main-container {
  height: calc(var(--vh, 1vh) * 100);
  background-color: #6cafff;
}

.destination-name-div {
  position: absolute;
  top: 0px;
  background-color: #6cafff;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.destination-name-div p {
  width: 250px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.x-btn {
  position: absolute;
  right: 20px;
  top: calc(var(--vh, 1vh) * 1);
  background-color: #6cafff;
  border: none;
  width: 50px;
  height: 45px;
  border-radius: 7px;
  /* box-shadow: 0px 1px 5px rgba(0, 67, 122, 0.6); */
  padding: 3px 0px 0px 0px;
}

.x-btn img {
  width: 45px;
  height: 40px;
}

.choice-route-div {
  display: flex;
  position: absolute;
  width: calc(var(--vw, 1vw) * 100);
  justify-content: space-around;
  top: calc(var(--vh, 1vh) * 12);
}
.choice-route-div-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--vw, 1vw) * 40);
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
.selected-choice-route-div-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--vw, 1vw) * 40);
  text-align: center;
  background-color: #6cafff;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

.choice-route-div-div-distance {
  font-size: 12px;
  margin-left: 10px;
  color: gray;
}
.selected-choice-route-div-div-distance {
  font-size: 12px;
  margin-left: 10px;
  color: white;
}
/* .choice-route-div-div button {
  border: none;
  border-radius: 5px;
  background-color: #6cafff;
  color: white;
  width: calc(var(--vw, 1vw) * 50);
  font-size: 17px;
} */

.select-route-div {
  background-color: #6cafff;
  border-radius: 10px;
  position: absolute;
  width: 150px;
  height: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.select-route-div button {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  width: 150px;
  height: 45px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  z-index: 2;
}

.is-navigation-div {
  display: flex;
  position: absolute;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 15);
  top: calc(var(--vh, 1vh) * 85);
  border-top: 2px solid #6cafff;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.is-navigation-div p {
  color:#6cafff;  
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin-right: 20px;
}
.is-navigation-div img {
  width: 35px;
  height: 35px;
}

.is-nav-cur-loc-btn {
  padding: 0px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0.7px 1px 4px rgba(0, 67, 122, 0.6);
  position: absolute;
  top: calc(var(--vh, 1vh) * 100 - 200px);
  right: 40px;
  z-index: 10;
}


/* AIguide */
.ai-container {
  /* width: calc(var(--vw, 1vw) * 100); */
  /* height: calc(var(--vh, 1vh) * 100); */
}

.ai-title {
  height: 60px;
  border-bottom: 2px solid rgb(220, 220, 220);
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
  justify-content: center;
  align-items: center;
  display: flex;
}

.ai-title p {
  margin: 0px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.ai-body {
  margin: 0px 30px;
}

.ai-des-location {
  margin-top: 20px;
  border: none;
  border-radius: 18px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eff7;
}

.ai-des-location p {
  font-size: 15px;
  font-weight: 300;
  color: rgb(50, 50, 50);
}

.ai-text-area {
  margin-top: 30px;
  height: calc(var(--vh, 1vh) * 65);
  overflow: auto;
}
/* 스크롤바 display none */
::-webkit-scrollbar {display: none}

.ai-req-container {
  display: flex;
  justify-content: flex-end;
  margin-left: calc(var(--vw, 1vw) * 10);
}

.ai-req-div {
  border-radius: 50%;
  border: 2px #e6eff7 solid;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.ai-req-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.ai-req-area {
  margin-right: 7px;
  background-color: rgb(50, 50, 50);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 30px 20px 20px;
}
.ai-req-area p {
  margin: 0px;
  color: white;
  font-size: 13px;
  letter-spacing: 0.3px;
  font-weight: 300;
}

.ai-res-container {
  margin-right: calc(var(--vw, 1vw) * 10);
  margin-top: 30px;
}

.ai-res-div {
  border-radius: 50%;
  border: 2px #e6eff7 solid;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.ai-res-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.ai-res-area {
  margin-left: 7px;
  background-color: #6cafff;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 20px 20px 25px;
}
.ai-res-area p {
  margin: 0px;
  font-size: 13px;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.ai-end-btn-area {
  position: absolute;
  top: calc(var(--vh, 1vh) * 90);
  left: 50%;
  transform: translateX(-50%)
}

.ai-end-btn {
  background-color: #6cafff;
  color: white;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.ai-end-btn p {
  margin: 0px;
  font-size: 13px;
  font-weight: 500;
}


.modal-bg {
  background-color: rgba(0, 0, 0, 0.25);
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-inner {
  background-color: white;
  text-align: center;
  padding: 25px 23px;
  border-radius: 20px;
}
.modal-inner p {
  margin: 0px;
  font-size: 14px;
}
.modal-inner button {
  border: none;
  border-radius: 7px;
  width: 40%;
  height: 38px;
}